@import url("https://fonts.googleapis.com/css?family=Kurale|Margarine");
body {
  margin: 0;
  padding: 20px 0;
  font-family: 'Kurale', serif; }

* {
  box-sizing: border-box; }

.videoAndEffects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

#goBack {
  display: block;
  padding: 4px;
  margin-bottom: 10px; }

#rateValueBtn {
  display: block;
  margin: auto;
  padding: 4px;
  margin-top: 10px; }

.sliderInput {
  height: 20;
  width: 40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

.smallTxt {
  font-size: 12px; }

/* effects controls */
aside {
  width: 300px;
  margin-left: 10px;
  min-width: 200px; }

aside div {
  padding: 10px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #bbb;
  transition: background 0.3s ease;
  background: #aaa; }

aside div:first-child {
  padding-top: 20px; }

aside div:last-child {
  border-radius: 0 0 4px 0; }

aside div:hover {
  background: #bbb; }

label {
  display: block;
  font: 13px "Helvetica", sans-serif;
  color: #222; }

strong {
  font-weight: bold;
  padding: 0 3px;
  user-select: none; }

code {
  display: inline-block;
  font: 12px "Courier new";
  float: right;
  color: #444; }

/* Base Colors */
.range-slider {
  font-family: sans-serif;
  padding: 10px 20px; }

.range-slider {
  margin: 20px 0 0 0%;
  margin: auto; }

/* Range Slider */
.range-slider {
  width: 95%; }

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
  /* Range Handle */ }
  .range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .range-slider__range::-webkit-slider-thumb:hover {
      background: #1abc9c; }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c; }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .range-slider__range::-moz-range-thumb:hover {
      background: #1abc9c; }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c; }

/* Range Label */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 18px;
  margin-top: 4px; }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: ''; }

/* Firefox Overrides */
::-moz-range-track {
  background: #d7dcdf;
  border: 0; }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

.buttonsAndScreenshotDiv {
  text-align: center; }

.buttonsDiv {
  margin-bottom: 10px; }

#snapBtn {
  padding: 4px;
  margin-right: 10px; }

#saveBtn {
  padding: 4px; }

#saveDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*# sourceMappingURL=css.css.map */